---
---

// https://coolors.co/293abc-8f95d5-b794e3-7136ba-f5a65b

@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);

@import url(https://fonts.googleapis.com/css?family=Neuton|Work+Sans);

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 25px auto;
  line-height: 1.4;
  font-size: 1.3em;
  color: #354247;
  padding: 0 10px;
  background-color: #F9F9F9;
  width: 90%;
}

@media screen and (min-width: 700px) {
  body {
    margin: 50px auto;
    max-width: 900px;
  }
}

a {
  color: #248d7b;
}

* {
  font-family: 'Luistana', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 1em 0 .5em;
}

h1,
h2,
h3 {
  font-family: 'Work Sans', sans-serif;
}

ul {
  list-style-type: square;
}

footer {
  font-size: .8em;
}

.red-bg {
  background-color: rgba(214, 54, 73, 0.6);
  color: #fff;
}

.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.text-center {
  text-align: center;
}
