---
---

// https://coolors.co/293abc-8f95d5-b794e3-7136ba-f5a65b

@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);

@import url(https://fonts.googleapis.com/css?family=Neuton|Work+Sans);

.table td, .text-center, footer {
  text-align: center;
}

html {
  box-sizing: border-box;
}

*, :after, :before {
  box-sizing: inherit;
}

body {
  margin: 25px auto;
  line-height: 1.4;
  font-size: 1.3em;
  color: #354247;
  padding: 0 10px;
  background-color: #F9F9F9;
  width: 90%;
}

@media screen and (min-width: 700px) {
  body {
    margin: 50px auto;
    max-width: 900px;
  }
}

a {
  color: #248d7b;
}

* {
  font-family: Neuton, serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  margin: 1em 0 .5em;
}

h1, h2, h3 {
  font-family: 'Work Sans', sans-serif;
}

ul {
  list-style-type: square;
}

footer {
  font-size: .8em;
}

.row {
  &::after, &::before {
    display: table;
    content: " ";
    clear: both;
  }
}

.half, .one, .one-fourth, .one-third, .two-thirds {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .full {
    width: 100%;
  }

  .half {
    width: calc(96% / 2);
  }

  .third {
    width: calc(94% / 3);
  }

  .fourth {
    width: calc(92% / 4);
  }

  .two-thirds {
    width: calc(96% / 3 * 2);
  }

  .column {
    float: left;
    margin-right: calc(100% / 50);
  }
}

.red-bg {
  background-color: rgba(214, 54, 73, 0.6);
  color: #fff;
}

.yellow-bg {
  background-color: rgba(223, 162, 56, 0.75);
  color: #fff;
}

.blue-bg {
  background-color: rgba(36, 141, 123, 0.6);
  color: #fff;
}

.red {
  color: #d63649;
}

.yellow {
  color: #dfa238;
}

.blue {
  color: #248d7b;
}

.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.table th, td {
  padding: 7px;
}

.table {
  table {
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    font-size: 1.2em;
  }

  th {
    background-color: rgba(36, 141, 123, 0.4);
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}

.bold {
  font-style: bold;
}
