---
---
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css);

@import url(https://fonts.googleapis.com/css?family=Neuton|Work+Sans);

$primary: #17219c;
$secondary: #6096bf;

html {
  box-sizing: border-box;
}

*,
:after,
:before {
  box-sizing: inherit;
}

body {
  margin: 25px auto;
  line-height: 1.4;
  font-size: 1.3em;
  color: #354247;
  padding: 0 10px;
  background-color: #FCFCFC;
  width: 90%;
}

@media screen and (min-width: 700px) {
  body {
    margin: 50px auto;
    max-width: 900px;
  }
}

nav {
  @media screen and (min-width: 500px) {
    margin: 2em 0;
  }

  ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;

    @media screen and (min-width: 500px) {
      list-style-type: disc;
    }

    li {
      padding: 10px 0;
      display: block;

      @media screen and (min-width: 500px) {
        display: inline;

        &::before {
          content: "•";
          padding-left: .25em;
          padding-right: .65em;
        }

        &:first-child::before {
          content: none;
        }
      }

      a {
        font-weight: bold;
        font-size: 1.1em;
      }
    }
  }
}

h3 {
  margin: 0;
}


a {
  color: $primary;
}

* {
  font-family: 'Luistana', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
  margin: 1em 0 .5em;
}

.item-header {
  margin: 2em 0 0;
}

h1,
h2,
h3 {
  font-family: 'Work Sans', sans-serif;
}

ul {
  list-style-type: square;
}

footer {
  font-size: .8em;
}

.highlighter-rouge {
  font-size: 80%;
}

.secondary-bg {
  background-color: $secondary;
  color: #fff;
}

.center {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.text-center {
  text-align: center;
}

footer {
  text-align: center;
}
