h1, h2, h3, h4, p, body, a {
  color: #051F26;
}

p {
  font-size: 1.2em;
}

h2, h3, h4, p, body, a, button {
font-family: 'EB Garamond', serif;
}

h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

html {
  background-color: #F2F5F7;
}

/* --------- HEADER --------- */

#header {
 background: url('https://raw.githubusercontent.com/schwartzadev/aschwartz.me/master/img/hero.jpg') black;
 background-position: center center;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 padding-bottom: 5vh;
 height: 95vh ;
}

p.white {
  margin-top: 0vh;
}

#logo {
  padding-top: 1.5em;
  padding-left: 1.5em;
  width: 20%; /* you can use % */
  height: auto;
}

#title {
  font-size: 10em;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

#sub {
  font-size: 3em;
  font-family: 'EB Garamond', serif;
}

.center {
  text-align: center;
}

#header > div {
padding-top: 10vh;
}

.white {
  color: white;
}

.btn {
  font-size: 2.5em;
  color: #fff;
  -webkit-border-radius: .1em;
  -moz-border-radius: .1em;
  border-radius: .1em;
  padding: 10px 20px 10px 20px;
  border: solid #fff .1em;
  background: none;
}

.btn:hover {
  background: #fff;
  color: #051F26;
}



/* --------- FOOTER --------- */

#footer {
  text-align: center;
  background-color: #DDDDDD;
}
#footer > div > p {
  font-size: .75em;
}