$color-text: #000;
$color-off-black: #2C1E0F;
$color-link: #1E66C8;
$color-link-light: #649CE8;
$color-link-focus: #DB912B;
$color-background: #F9F7F3;
$color-section-title-background: #E1D7F9;

$serif: Domine, Garamond, serif;
$sans-serif: Roboto, Arial, Helvetica, sans-serif;
