a {
    box-shadow: inset 0 -.3em 0 #96E2D6;
    color: inherit !important;
    text-decoration: none;
    transition: background .2s cubic-bezier(.33,.66,.66,1);
}

a:hover {
    background: #96E2D6
}
