@import '../../scss/variables.module.scss';

.ctas-list {
  li::after {
    content: " →";
  }
  li {
    margin-bottom: 0.5rem;
  }
  margin-bottom: 2rem;
}

.container {
  margin-top: 2rem;
}

.title {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.top-link {
  color: $color-text;
}
