@import '../../scss/variables.module.scss';

.hero {
  font-family: $sans-serif;
  font-weight: bold;
  line-height: 100%;
  color: $color-off-black;
  margin: 36px 0;
  font-size: 4rem;
  @media screen and (max-width: 560px) {
    font-size: 3rem;
  }
}
