@import '../../scss/variables.module.scss';

.hero {
  font-family: $sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  color: $color-off-black;
  margin: 0;
  margin-bottom: 36px;
}
