@import '../../scss/variables.module.scss';

.container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  text-transform: uppercase;
  flex-wrap: wrap;

  [aria-current] {
    text-decoration: underline;
    font-weight: 500;
  }

  a {
  	text-decoration: none;
  	color: $color-text;
    margin-bottom: 0.75rem;
    padding: 0 0.5rem;
  }
}

.logo-container {
  width: 80px;
  margin-right: 3rem;
  @media screen and (max-width: 560px) {
    margin-right: 1rem;
    img {
      width: 60px;
    }
  }
}

.wrapper {
  display: flex;
  align-items: center;
}
