@import '../../scss/variables.module.scss';

.container {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  text-transform: uppercase;

  [aria-current] {
    text-decoration: underline;
    font-weight: 500;
  }

  a {
  	text-decoration: none;
  	color: $color-text;
  }
}

.logo-container {
  width: 80px;
  margin-right: 3rem;
}

.wrapper {
  display: flex;
  align-items: center;
}
